<app-demo-card goal="Text Recoloring">
    <div
        appHighlight
        class="topic-text"
    >{{ number }}</div>
</app-demo-card>

<app-demo-card goal="Password Hiding">
    <div class="pwd-wrapper">
        <input #passwordInput type="password" placeholder="Password..." class="g-input pwd-input" />
        <button
            [appTogglePassword]="passwordInput"
            #toggle="togglePassword"
            type="button"
            class="pwd-btn"
        >
            <app-svg [name]="toggle.isTextVisible() ? 'eye-off' : 'eye'" size="16" />
        </button>
    </div>
</app-demo-card>

<app-demo-card goal="Field Autofocusing">
    <input [appAutoFocus]="true" [delay]="300" type="email" placeholder="Email..." class="g-input" />
</app-demo-card>

<app-demo-card goal="Field Autoresizing">
    <textarea
        appAutoResize
        [maxHeight]="150"
        placeholder="Type comment..."
        class="g-textarea"></textarea>
</app-demo-card>