:host {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    height: 100%;
}

.topic-text {
    font-size: xx-large;
    font-weight: bold;
    user-select: none;
    color: var(--color-text);
    cursor: pointer;
    transition: 200ms;

    border: 2px solid var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 50%;
}

.is-highlighted {
    background: var(--color-text);
    color: var(--color-background);
}

.directive-wrapper {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid var(--color-text);

    .directive-goal {
        text-align: center;
        color: var(--color-background);
        font-size: x-large;
        background: var(--color-text);
        padding: 8px;
    }

    .directive-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 16px;
    
        .pwd-wrapper {
            display: flex;
            position: relative;

            & .pwd-input {
                box-sizing: border-box;
                padding-right: calc(6px + 1em + 6px);
            }
        
            & .pwd-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                background: none;
                border: none;
                padding: 0;
                position: absolute;
                right: 6px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}